.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Es.1 */
.ex-1-square:hover {
    background-color: red;
}
.ex-1-square {
    transition: background-color 2s;
}
/* Es.2 */
.ex-2-square:active {
    width: 100%;
}
.ex-2-square {
    transition: width 5s;
}
/* Es.3 */
.ex-3-square:hover {
    border-radius: 100%;
}
.ex-3-square {
    transition: border-radius 2s;
}
/* Es.4 */
.ex-4-square:hover {
    background-color: inherit;
}
.ex-4-square {
    transition: background-color 2s;
}
/* Es.5 */
.ex-5-square:hover {
    width: 100px;   /*scale 1.5*/
    height: 100px;
    margin: 0;
}
.ex-5-square:active {
    width: 30px;    /*scale 0.5*/
    height: 30px;
    margin: 35px;
}
.ex-5-square {
    transition: width 2s, height 2s, margin 2s;
}
/* Es.6 */
.ex-6-img:hover {
    filter: grayscale(1);
}
.ex-6-img {
    transition: filter 2s;
}
/* Es.7 */
.ex-7-img:hover {
    filter: grayscale(0.5) hue-rotate(90deg) ;
}
.ex-7-img {
    transition: filter 2s;
}
/* Es.8 */
.ex-8-img:hover {
    border-radius: 10px;
    filter: hue-rotate(45deg) sepia(0.2);
}
.ex-8-img {
    transition: 2s;
}
/* Es.9 */
.ex-9-img:hover {
    border-radius: 10px;
    filter: hue-rotate(45deg) sepia(0.2);    
    transform: scale(1.5);
}
.ex-9-img {
    transition: 2s;
}
/* Es.10 */
.ex-10-icon {
    animation: spin 1s linear infinite;    
}
@keyframes spin{
    0% {
        transform: rotate(1turn);
    }
}
/* Es.11 */
.ex-11-icon:hover {
    animation: almost-spin 2s linear;
}
@keyframes almost-spin{
    0% {
        transform: rotate(0);
    }
    85% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}